<style>
.account-logout {
  margin-left: 8%;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 10px;
}

.account-logout-button {
  display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #D8D2D1;
}

</style>
<div class="account-logout">
  <div class="account-logout-button">
    <% if spree_current_user %>
    <!-- <%= "______________________________________________" %> -->
      <%= link_to Spree.t(:logout), spree.logout_path, :style=>'color:#1E1D1D' %>
    <% end %>
</div>
</div>
