<style>
.btn-success {
  height: 34px;
  margin-left: -3px;
}

.btn-danger {
  height: 34px;
}

.input-group .form-control {
  text-align: center;
  font-size: 20px;
}

.star-rating-control {
  height: 18px;
}

#wishlist-form {
  /* text-align: right;
  padding-right: 20%; */
}
.mobile_product_show{
  display: none;
}

#product-price h6.product-section-title{
  font-size: 20px;
}
#product-price div span.lead.price.selling{
  font-size: 35px;
}
#product_size img{
  width: 110%;
  margin-left: -7%;
}

@media only screen and (max-width: 360px), (max-width: 420px) {
  div.input-group {
      margin-left: 10% !important;
      margin-right: 10%;
  }
  div.panel-body.text-center{
    transform: none;
  }
  /* zoom image */

  /* wishlist */
  #wishlist-form {
    text-align: center;
    padding-right: 0px
  }
  .web_product_show{
    display: none;
  }
  .mobile_product_show{
    display:contents;
  }
  #product_size img{
    width: 100%;
  }
  h3.product-title{
    font-size: 30px;
  }
   #product-variants ul.list-group{
    margin-bottom: 20px;
    padding-left: 0;
    font-size: 18px;
  }
}

</style>

<% @body_id = 'product-details' %>

<%= render partial: 'spree/shared/trackers/segment/product_viewed.js',
            formats: :js,
            locals: { product: @product } %>

<% cache cache_key_for_product do %>
  <div data-hook="product_show" class="row" itemtype="https://schema.org/Product">
    <div class="web_product_show_qty">

    </div>
    <div class="mobile_product_show_qty">

    </div>
  </div>
<% end %>
<script>
if (document.body.offsetWidth <= 420) {
   $('.mobile_product_show_qty').append('<%=j render "render_me/product_show_mobile_qty" %>');
    $('.web_product_show_qty').empty();
 } else {
   $('.web_product_show_qty').append('<%=j render "render_me/product_show_web_qty" %>');
   $('.mobile_product_show_qty').empty();
 }
</script>
