<style>
  div#all-categories {
    width: 100%;
    border: 1px solid #F2F3F4;
    background-color: #F2F3F4;
    /* overflow-y: auto; */
    top: 0;
    /* max-height: calc(86vh - 9rem); */
  }

  #all-categories::-webkit-scrollbar {
    display: none;
  }

  div.center-icon {
    text-align: center;
    word-spacing: -5px;
    padding-left: 15px;
    padding-bottom: 2px;
    padding-top: 3px;
  }

  p#brandname {
    font-size: 9px;
    padding-bottom: 2px;
  }

  a {
    color: black;
  }

  /* a:hover {
    color: purple;
  } */
  span#cat-icon:hover {
    color: #3498DB
  }

  p#brandname:hover {
    color: #3498DB
  }
  /* button#showCategories{
    font-size: 24px;
  }

  button#hideCategories{
    font-size: 24px;
    display: none;
  } */
</style>
<!--
<button id=showCategories onClick="showCategories()" class="btn btn-link"><div class="glyphicon glyphicon-menu-hamburger"></div></button>
<button id=hideCategories onClick="hideCategories()" class="btn btn-link"><div class="glyphicon glyphicon-remove"></div></button> -->

<div id="all-categories">
  <div class="center-icon"><a href="http://www.ramores.com/categories/grocery"><span class="glyphicon glyphicon-shopping-cart"><br><p id="brandname">Gloceries</p></span></a></div>
  <div class="center-icon"><a href="http://www.ramores.com/categories/clothes"><span class="glyphicon glyphicon-sunglasses"><br><p id="brandname">Clothes</p></span></a></div>
  <div class="center-icon"><a href="http://www.ramores.com/categories/grocery"><span class="glyphicon glyphicon-knight"><br><p id="brandname">Sports</p></span></a></div>
  <div class="center-icon"><a href="http://www.ramores.com/categories/grocery"><span class="glyphicon glyphicon-th-list"><br><p id="brandname">Bills</p></span></a></div>
  <div class="center-icon"><a href="http://www.ramores.com/categories/clothes"><span class="glyphicon glyphicon-ok"><br><p id="brandname">Bussiness Solutions</p></span></a></div>
  <div class="center-icon"><a href="http://www.ramores.com/categories/grocery"><span class="glyphicon glyphicon-wrench"><br><p id="brandname">Car Accessories</p></span></a></div>
  <div class="center-icon"><a href="http://www.ramores.com/categories/grocery"><span class="glyphicon glyphicon-gift"><br><p id="brandname">Gifts & Pasalubong</p></span></a></div>
  <div class="center-icon"><a href="http://www.ramores.com/categories/clothes"><span class="glyphicon glyphicon-tint"><br><p id="brandname">Graphic Design</p></span></a></div>
  <div class="center-icon"><a href="http://www.ramores.com/categories/grocery"><span class="glyphicon glyphicon-transfer"><br><p id="brandname">Handyman</p></span></a></div>
  <div class="center-icon"><a href="http://www.ramores.com/categories/grocery"><span class="glyphicon glyphicon-home"><br><p id="brandname">Home Appliances & Furnitures</p></span></a></div>
  <div class="center-icon"><a href="http://www.ramores.com/categories/clothes"><span class="glyphicon glyphicon-cutlery"><br><p id="brandname">Kitchenwares</p></span></a></div>
  <div class="center-icon"><a href="http://www.ramores.com/categories/grocery"><span class="glyphicon glyphicon-stats"><br><p id="brandname">Market Research Consulting</p></span></a></div>
  <div class="center-icon"><a href="http://www.ramores.com/categories/grocery"><span class="glyphicon glyphicon-apple"><br><p id="brandname">Meals & Snacks</p></span></a></div>
  <div class="center-icon"><a href="http://www.ramores.com/categories/clothes"><span class="glyphicon glyphicon-send"><br><p id="brandname">Parcel Document Delivery</p></span></a></div>
  <div class="center-icon"><a href="http://www.ramores.com/categories/grocery"><span class="glyphicon glyphicon-scale"><br><p id="brandname">Personal Care & Wellness</p></span></a></div>
  <div class="center-icon"><a href="http://www.ramores.com/categories/clothes"><span class="glyphicon glyphicon-bell"><br><p id="brandname">Pets</p></span></a></div>
  <div class="center-icon"><a href="http://www.ramores.com/categories/grocery"><span class="glyphicon glyphicon-phone"><br><p id="brandname">Phones & Computers</p></span></a></div>
  <div class="center-icon"><a href="http://www.ramores.com/categories/clothes"><span class="glyphicon glyphicon-print"><br><p id="brandname">Printing & Photocopying</p></span></a></div>
  <div class="center-icon"><a href="http://www.ramores.com/categories/grocery"><span class="glyphicon glyphicon-grain"><br><p id="brandname">Public Service</p></span></a></div>
  <div class="center-icon"><a href="http://www.ramores.com/categories/clothes"><span class="glyphicon glyphicon-pencil"><br><p id="brandname">School & Office Supplies</p></span></a></div>
  <div class="center-icon"><a href="http://www.ramores.com/categories/grocery"><span class="glyphicon glyphicon-plane"><br><p id="brandname">Travel</p></span></a></div>

</div>

<!-- <script>

function showCategories() {
  document.getElementById("all-categories").style.display = "block";
  document.getElementById("showCategories").style.display = "none";
  document.getElementById("hideCategories").style.display = "block";
}

function hideCategories() {
  document.getElementById("all-categories").style.display = "none";
  document.getElementById("showCategories").style.display = "block";
  document.getElementById("hideCategories").style.display = "none";
}



</script> -->
