<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @user } %>

      <%= form_for Spree::User.new, :as => @user, :url => spree.user_path(@user), :method => :put do |f| %>
        <%= render :partial => 'render_me/new_user_field', :locals => { :f => f } %>
        <p>
          <%= f.submit Spree.t(:update), :class => 'btn btn-lg btn-primary btn-block' %>
        </p>
      <% end %>
