<nav id="taxonomies" class="sidebar-item" data-hook="">
  <h4 class="taxonomy-root">Shop by Categories</h4>
    <% @categories = Category.all %>
    <% @categories.each do |category| %>
        <%= link_to category.name, category, class: 'list-group-item' %>
    <% end %>

</nav>
