* {
  padding: 0px;
  margin:0px;
}

a {
  color: black;
}

.ListOfOffers {
    height:100%;
    cursor:pointer;
}

.CategDiv {
    display:flex;
    right:50px;
    padding: 8px;
    width: 190px;
}

.ListA {
   padding:1px;
   left:0%;
   font-size: 14px;
}


.ListA:hover .SubMenu{
    visibility: visible;
}

.ListA:hover{
    background-color:#EAEAEA;
    color: #113C6C;
}


.SubMenu{
  padding: 3px;
   position: absolute;
   left: 190px;
   margin-top: -29px;
   z-index: 4;
   background-color:white;
   width:80%;
   visibility: hidden;
 }

.ListB{
   padding:1px;
   left:0%;
   color: black;
}

.ListB:hover .SpecMenu{
  visibility: visible;
}

.ListB:hover{
    background-color:#EAEAEA;
    color: #113C6C;
}

.SpecMenu{
   padding-left: 3px;
   position: absolute;
   left: 100%;
   margin-top: -26px;
   background-color: white;
   height:auto;
   z-index: 3;
   width: 80%;
   visibility: hidden;
}

.ListC{
  padding:1px;
  left:0%;
  color: black;
}

.ListC:hover .BrandMenu{
  visibility: visible;
}

.ListC:hover{
  background-color:#EAEAEA;
  color: #113C6C;
}

.BrandMenu {
  padding-left: 3px;
  position: absolute;
  left: 100%;
  margin-top: -21px;
  background-color: white;
  height:auto;
  z-index: 3;
  width: 120%;
  visibility: hidden;
}

.ListD {
  padding:1px;
  left:0%;
  color: black;
}

.ListD:hover {
  background-color:#EAEAEA;
  color: #113C6C;
}
