<style>
@media only screen and (max-width: 360px), (max-width: 420px) {
  div.categ-show_web {
    display: none;
  }

  div.categ-show-mobile-1 {
    display: block !important;
    width: 100%;
    margin-bottom: 40px;
    margin-left: 0px;
  }

}

div.categ-show-mobile-1 {
  display: none;
}



</style>


<%= render :partial => "render_me/head" %>

<div class="categ-show_web">
  <%= render :partial => "render_me/brands_show_web" %>
</div>

<div class="categ-show-mobile-1">
    <%= render :partial => "render_me/brands_show_mobile" %>
</div>
