<% @taxons = @taxon && @taxon.parent ? @taxon.parent.children : Spree::Taxon.roots %>
<%= form_tag spree.products_path, method: :get, class: "navbar-form" do %>
  <div class="form-group">
  <%= search_field_tag :keywords, params[:keywords], placeholder: Spree.t(:search), class: "form-control" %>
<%= submit_tag Spree.t(:search), name: nil, class: "btn btn-success", id: "btn-id" %>
  </div>

  <a class="cart-info empty" href="/cart"><img src="/assets/cart.png" alt="HTML5 Icon" width="60px"><%= link_to_cart %></a>
  <script>Spree.fetch_cart()</script>
<% end %>
